<% if logged_in?	  %>
<%= render 'layouts/menu' %>
<%= render 'layouts/messages' %>

<center>
  <h2 class="ui center aligned icon header">
    <i class="circular orange users icon"></i>
    Let's chat
  </h2>
</center>

<div class="ui two column grid">
  <div class="ui twelve wide column">
    <div class="ui fluid raised card checkbox">
      <div class="content">
        <div class="ui feed">
            <% @messages.each do |msg|	  %>
              <ul style="list-style-type: none;">
                <li>
                  <%=	msg.user.username  %>:<p><%=	msg.body  %></p>
                </li>
              </ul>
            <% end %>
        </div>
      </div>
    <div class="extra content">
      <%= form_for(@message, html:{class: 'ui reply form', role: 'form'}, url: message_path ) do |f|%>
        <div class="field">
          <div class="ui fluid icon input">
            <%= f.text_field :body %>
            <%=	f.button'<i class="bordered inverted orange edit icon"></i>'.html_safe%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

  <div class="four wide column">
    <div class="ui fluid raised card checkbox">
      <div class="content">
        <div class="ui inverted vertical pointing menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<%	else  %>
    <script type="text/javascript">
        window.location.href="/login"  // put your correct path in a string here
    </script>
   <% flash[:error] = 'You must be logged in to perform that action' %>

<%	end  %>


